html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--vscode-foreground);
  background: var(--vscode-editor-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

.empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.empty .tag {
  color: var(--vscode-descriptionForeground);
}
